.activeLinkDialog {
  color: gold !important;
}
.activeLinkNav {
  color: gold !important;
}
.activePage {
  font-weight: bold;
  margin: 0 10px;
  font-size: 20px
}
.preloader {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

